.footer{
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container{
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link{
    color: var(--title-color);
}


.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__link:hover{
    color: var(--title-color-dark);
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}


.footer-social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .4s;
    color: var(--title-color);
}

.icon-size {
    font-size: 1.5rem;
}

.icon:hover{
    color: rgb(110, 87, 224);
    box-shadow: 0 4px 16px rgb(103, 174, 203);
}